extends extends/_standard
//-============================================================================
//- header
//-============================================================================
block header

//-============================================================================
//- footer
//-============================================================================
//-----------------------------------------------------------------------------
//- main
//-----------------------------------------------------------------------------
block footer
  p#copyright=text.copyRight