extends _core
block head
  +makeHead("Support")

block main
  .frontBG(data-webele="frontBG")
    div(data-webele="supportArea")
      p(data-webele="headline")="XXXXX"
      +bootstrap_accordionTop("infoAccordion")
        +bootstrap_accordion("更新情報", 0, "info-sign")
          .infoText(data-webele="infoText")
            .date(data-webele="infoText-date")
              ="YYYY/MM/DD"
            .text(data-webele="infoText-text")
              ="更新情報ああああああああああああああああああああああああああああああああああああああああああああああああ"
          .infoText(data-webele="infoText")
            .date(data-webele="infoText-date")
              ="YYYY/MM/DD"
            .text(data-webele="infoText-text")
              ="更新情報ああああああああああああああああああああああああああああああああああああああああああああああああ"
          .infoText(data-webele="infoText")
            .date(data-webele="infoText-date")
              ="YYYY/MM/DD"
            .text(data-webele="infoText-text")
              ="更新情報ああああああああああああああああああああああああああああああああああああああああああああああああ"
          .infoText(data-webele="infoText")
            .date(data-webele="infoText-date")
              ="YYYY/MM/DD"
            .text(data-webele="infoText-text")
              ="更新情報ああああああああああああああああああああああああああああああああああああああああああああああああ"
        +bootstrap_accordion("不具合報告", 1, "warning-sign")
          .infoText(data-webele="infoText")
            .date(data-webele="infoText-date")
              ="YYYY/MM/DD"
            .text(data-webele="infoText-text")
              ="更新情報ああああああああああああああああああああああああああああああああああああああああああああああああ"
          .infoText(data-webele="infoText")
            .date(data-webele="infoText-date")
              ="YYYY/MM/DD"
            .text(data-webele="infoText-text")
              ="更新情報ああああああああああああああああああああああああああああああああああああああああああああああああ"
          .infoText(data-webele="infoText")
            .date(data-webele="infoText-date")
              ="YYYY/MM/DD"
            .text(data-webele="infoText-text")
              ="更新情報ああああああああああああああああああああああああああああああああああああああああああああああああ"
          .infoText(data-webele="infoText")
            .date(data-webele="infoText-date")
              ="YYYY/MM/DD"
            .text(data-webele="infoText-text")
              ="更新情報ああああああああああああああああああああああああああああああああああああああああああああああああ"
        +bootstrap_accordion("XXXXXX", 2, "leaf")
          .infoText(data-webele="infoText")
            .date(data-webele="infoText-date")
              ="YYYY/MM/DD"
            .text(data-webele="infoText-text")
              ="更新情報ああああああああああああああああああああああああああああああああああああああああああああああああ"